@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');



$font_size_main: 14px;
$font_family_main: Verdana, Geneva, Tahoma, sans-serif;

$background_main:#E5E5E5;
$container_width: 1170px;

$color_title: #FFCC00;
$background_btn: #E5E5E5;
