@import '_normalize';
@import '_vars';

* {
    box-sizing: border-box;
    padding: 0;
}

html, body {
    min-height: 100vh;
    font-family: $font_family_main;
    font-size: $font_size_main;
    background: #ffff;
}

.container {
    max-width: $container_width;
    margin: 0 auto;
}

.section {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        position: relative;
        color: $color_title;
        display: flex;
        &_sub{
            color:#898F8F;
        }
    }
    &_logo{
        
        &::after, 
        &::before {
            content: '';
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: #FFCC00;
            bottom: 85%;
        }
        &::after {
            right: 39%;
            width: 140px;
        }
        &::before{
            width: 140px;

            left: 39%; 
            
        }
    }

   

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    &_picture {
      width: 100%;
     
  
      &-img {
        position: relative;
        left: -23%;
        bottom: -5%;
        width: 400px;
        height: 400px;
        z-index: 3;
        margin-top: 103px;
      }
  
      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 430px;
        height: 430px;
      }
  
      &::after {
        background: #ffff;
        top: 17.5%;
        left: 5.7%;
        transform: rotate(-45deg);
        z-index: 2;
      }
  
      &::before {
        border: 1px solid #FFCC00;
        top: 17.5%;
        left: 5.7%;
        z-index: 1;
      }
    }
    
    &_diver {
      position: absolute;
      width: 560px;
      height: 0px;
      left: 35.4%;
      transform: translateX(-50%);
      top: 50%;
  
      border: 1px solid #FFCC00;
      transform: rotate(90deg);
    }
  
    &_picture {
      position: relative;
      flex: 0 0 50%;
      display: flex;
      justify-content: flex-end;
    }
  
    &_about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      margin-left: 85px;
      &_btn{
        margin: 0 auto;
        box-sizing: border-box;
        width: 118px;
        height: 24px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid #FFCC00;
        background-color: transparent;

    }
    }
    
    &_rectangle{
      display: flex;
        margin: 20px auto 20px auto;
        width: 20px;
        height: 4px;
        background: #FFCC00;

        &::after, 
        &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 4px;
            background-color: #FFCC00;
            
        }
        &::after {
            right: 33.1%;
            
        }
        &::before{
            left: 68%;

        }
    }
    
  }   
        
